@import "tailwindcss";



body {

  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 768px) {
  .hero{
    flex-direction: column;
    margin-left: 0;
  }
}