
body{
    font-family: Poppins;
}
.frame{
    border-radius:50% ;
    box-shadow: 5px 10px 30px #9aaff5;
}
.btn:hover{
transform: scale(1.05);
transition: 0.1s ease 0.1s;
}
button:hover{
    transform: scale(1.05);
    transition: 0.1s ease 0.1s;

}
/* form{
    box-shadow: 5px 10px 30px rgb(105, 9, 9);
} */
